<%- include('templates/header') -%>
    <%- include('templates/navbar') -%>
        <%- include('templates/sidebar') -%>
            <%- include('templates/listcars') -%>
                <%- include('templates/scripts') -%>
                    <%- include('templates/footer') -%>